*.o
*.d
/ibnos.iso
/kernelmode/ibnos.kernel
/usermode/init.user
/iso/boot/ibnos.kernel
/iso/boot/init.user
/usermode/system/*
/usermode/libc/newlib/etc/standards.info
/kernelmode/doc/*
/usermode/libc/newlib/Makefile
/usermode/libc/newlib/config.*
/usermode/libc/newlib/i586-elf-ibnos/
/usermode/libc/newlib/etc/Makefile
/usermode/libc/newlib/etc/config.*
/usermode/libc/newlib/serdep.tmp
